* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #fff;
}

.side-navbar {
  width: 250px;
  height: 100%;
  position: fixed;
  margin-left: -300px;
  background-color: #100901;
  transition: 0.5s;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
  background-color: #ffffff26;
}

.my-container {
  transition: 0.4s;
}

.active-nav {
  margin-left: 0;
}

/* for main section */
.main-part {
  margin-top: 110px;
  margin-left: 250px;
  width: 85vw;   /* 100% of the viewport width */
  height: 100vh; 
}
.main-part2{
  margin-top: 80px;
        margin-left: 250px;
        width: 85vw;   
        height: 100vh; 
}
#menu-btn {
  background-color: #100901;
  color: #fff;
  margin-left: -62px;
}

/* .my-container input {
  border-radius: 2rem;
  padding: 2px 20px;
} */

.nav-link{
  color: #ADADAD;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  color: red;
  text-decoration: underline;
}

.tab-content {
  border: 1px solid #dee2e6;
  border-top: transparent;
  padding: 15px;
}
.card-img-left{
  margin-top: 0%;
}

.card-body{
 font-family: Roboto;

}
.dpdn{
  width: 730px;
}
/* Default state: Sidebar visible, main content has reduced width */
.main-part2 {
  /* Adjust this width based on your sidebar's width (e.g., if sidebar is 250px) */
  width: calc(100% - 250px);
  transition: width 0.3s ease; /* Smooth transition */
}

/* State when sidebar is collapsed (e.g., when 'sidebar-collapsed' class is added to the body) */
body.sidebar-collapsed .main-part2 {
  width: 100%; /* Take full width when sidebar is hidden */
}


@media (max-width: 1300px) {
.side-navbar{
  display: none;
}


}
